/*Main*/


body{
  color: #465058;
  font-size: 1em;
  font-weight: 200;
  font-family: 'IM Fell English', serif;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

img {
	max-height: 100%;
	max-width: 100%;
}
.banner{
	height: 180px;
	width: 100%;
	background-size: contain;
}
.banner img{
	height: 171px;
	width: 861px;	
}

/*Typography*/

#title {
	font-family: 'Rye', cursive;
	background-size: contain;
	border: 1px, black;
}
#title img{
	height: 75px;
	width: 150px;
}
/*Nav*/
#nav-bar ul {
	font-family: 'Rye', cursive;
	list-style: none;
	text-align: center;
}

#nav-bar li{
	display: inline;
}
#nav a{
	color: black;
}

#nav a:hover {
  color: #333;
}
#nav a.active {
  color: #465058
}


/*Footer*/

	#foot-bar {
		font-family: 'Rye', cursive;
		clear: both;
	}
	#foot-bar img{
		height: 30px;
		width: 30px;
	}
	#foot-bar li{
		display: inline;
	}





/











